.WeatherForecast {
    text-align: center;
    padding: 20px 0;
}

.forecastCol {
    display: flex;
    justify-content: center;
}

.forecastItem {
    background-color: #fefefe30;
    border-radius: 20px;
    width: 425px;
    margin: 4px;
    padding: 3px 0;
}
