body {
    font-family: 'Inter', sans-serif;
    background-image: url('/public/assets/cloudbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.inputCity {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 20px;
    width: 400px;
    padding: 3px;
    font-size: 12px;
}

.submitButton {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}

.weatherContentContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
}

.today {
    background-color: rgba(165, 136, 189, 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f3f1;
}

.forecast {
    background-color: rgba(195, 161, 199, 70%);
}
